* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
}

.wave {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.wave span {
    display: block;
    background-color: black;
    width: 8px;
    height: 25px;
    background-color: black;
    animation: wave 1s infinite ease-in-out;
}

@keyframes wave {
    0% {
        height: 25px;
    }

    50% {
        height: 75px;
    }

    100% {
        height: 25px;
    }
}

.wave span:nth-child(1) {
    background-color: #3675bc;
}

.wave span:nth-child(2) {
    animation-delay: 0.1s;
    background-color: #2b5e96;
}

.wave span:nth-child(3) {
    animation-delay: 0.2s;
    background-color: #265284;

}

.wave span:nth-child(4) {
    animation-delay: 0.3s;
    background-color: #204671;

}

.wave span:nth-child(5) {
    animation-delay: 0.4s;
    background-color: #1b3b5e;

}